In [1]:
import time
import pickle
import jsonify
import requests
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sqlalchemy import *
from bs4 import BeautifulSoup
from datetime import date, datetime
from sklearn.preprocessing import StandardScaler
from flask import Flask, render_template, request
from sqlalchemy.ext.declarative import declarative_base

In [2]:
url = 'mysql+mysqlconnector://{user}:{password}@{server}/{database}'.format(user = 'admin', password = 'adminroot', 
                                                                            server = 'indianpremierleague.cloqh08fxh1t.ap-south-1.rds.amazonaws.com',
                                                                            database = 'ipl')
engine = create_engine(url, echo = True)
base = declarative_base()

In [3]:
fixtures = pd.read_sql_table('fixtures', engine.connect(), columns = ['DATE', 'MATCH'])

match_list = pd.read_sql_table('match_list', engine.connect(), columns = ['year', 'winner', 'final'])

match_details = pd.read_sql_table('match_details', engine.connect(), columns = ['batsman', 'bowler', 'batsman_runs', 'is_wicket', 'dismissal_kind'])

2022-04-01 12:08:14,577 INFO sqlalchemy.engine.Engine SHOW VARIABLES LIKE 'sql_mode'
2022-04-01 12:08:14,577 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-04-01 12:08:14,728 INFO sqlalchemy.engine.Engine SHOW VARIABLES LIKE 'lower_case_table_names'
2022-04-01 12:08:14,728 INFO sqlalchemy.engine.Engine [generated in 0.07393s] {}
2022-04-01 12:08:15,006 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2022-04-01 12:08:15,006 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-04-01 12:08:15,344 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `ipl`
2022-04-01 12:08:15,344 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-04-01 12:08:15,480 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `ipl`
2022-04-01 12:08:15,480 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-04-01 12:08:15,638 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `fixtures`
2022-04-01 12:08:15,640 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-04-01 12:08:15,784 INFO sqlalchemy.engine.Engine SELECT fixtures.`DATE`, fixtures.`MATCH`
FROM fixtures
2022-04-01 12:08:15,784 INFO sqlalchemy.engine.Engine [generated in 0.06793s] {}
2022-04-01 12:08:16,420 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `ipl`
2022-04-01 12:08:16,420 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-04-01 12:08:16,557 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `ipl`
2022-04-01 12:08:16,557 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-04-01 12:08:16,697 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `match_list`
2022-04-01 12:08:16,697 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-04-01 12:08:16,834 INFO sqlalchemy.engine.Engine SELECT match_list.year, match_list.winner, match_list.final
FROM match_list
2022-04-01 12:08:16,834 INFO sqlalchemy.engine.Engine [generated in 0.06793s] {}
2022-04-01 12:08:17,518 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `ipl`
2022-04-01 12:08:17,518 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-04-01 12:08:17,646 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `ipl`
2022-04-01 12:08:17,646 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-04-01 12:08:17,795 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `match_details`
2022-04-01 12:08:17,795 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-04-01 12:08:17,928 INFO sqlalchemy.engine.Engine SELECT match_details.batsman, match_details.bowler, match_details.batsman_runs, match_details.is_wicket, match_details.dismissal_kind
FROM match_details
2022-04-01 12:08:17,928 INFO sqlalchemy.engine.Engine [generated in 0.07078s] {}

In [6]:
match_details.head()

       batsman   bowler  batsman_runs  is_wicket dismissal_kind
0   SC Ganguly  P Kumar           0.0          0           None
1  BB McCullum  P Kumar           0.0          0           None
2  BB McCullum  P Kumar           0.0          0           None
3  BB McCullum  P Kumar           0.0          0           None
4  BB McCullum  P Kumar           0.0          0           None